@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Love+Ya+Like+A+Sister&display=swap');

$primary-color: #1f53ff;       
$secondary-color: #ffc107;    
$error-color: #ba1a1a;         

$background-color: #002255; //#222831
$main-color: white;
$soft-color: #eff6ff3c;

$red-color: #e34234;
$green-color: #388e3c;
$yellow-color: #ffc107;
$blue-color: #2196f3;
$grey-color: grey;            
$info-color: $primary-color;
